<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_type)">
    <xacro:arg name="robot_type" default="fr3"/>

    <!-- Include base robot fr3 -->
    <xacro:include filename="$(find franka_description)/robots/$(arg robot_type)/$(arg robot_type).urdf.xacro"/>

    <xacro:include filename="$(find franka_gazebo_bringup)/urdf/sensors.xacro"/>

    <xacro:franka_gazebo_arm_imus arm_prefix="$(arg arm_prefix)" robot_type="$(arg robot_type)" imu_side="top"/>
    <xacro:franka_gazebo_arm_imus arm_prefix="$(arg arm_prefix)" robot_type="$(arg robot_type)" imu_side="bottom"/>

</robot>
